---
import Layout from '../layouts/Layout.astro';
import Card from '../components/ui/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto min-h-[calc(100vh-150px)]">
		<h1 class="header">Welcome to <span class="text-gradient">Astro</span></h1>

		<Card title='Introduction Astro' href="/posts/post-1" body='lorem ipsom dolur sit amet'>
	</main>
</Layout>
